@import "global.css";
@import "index.header.css";
@import "index.footer.css";

.section__catalog {
  padding: 15px;
}

.catalog__content {
  display: grid;
  grid-template-columns: 225px 1fr;
}

.catalog__wrapper {
  padding: 15px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-items: center;
  column-gap: 25px;
  row-gap: 40px;
  width: 100%;
  margin-bottom: 50px;
}

.card {
  width: 250px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__inform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.card__inform {
  gap: 3px;
}

.catalog__btn, .card__add {
  width: 100px;
  border-radius: 4px;
  background-color: #e2ebed;
}

.card__add.active {
  background-color: #2aa9bd;
  color: #fff;
}

aside {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort__price p {
  font-weight: bold;
  margin-bottom: 10px;
}

.sort__price button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #2aa9bd;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.sort__price button:hover {
  background-color: #1c717e;
}

.fieldset {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.fieldset legend {
  font-weight: bold;
  padding: 0 5px;
}

.fieldset div {
  margin-bottom: 10px;
}

.fieldset label {
  margin-left: 5px;
}

.apply {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.apply:hover {
  background-color: #218838;
}

.catalog__search {
  margin-bottom: 15px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  outline: none;
}

#searchInput:focus {
  border-color: #2690a0;
}

.btn__search {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color:  #31c4db;
  color: #fff;
  cursor: pointer;
}

.btn__search:hover {
  background-color: #2690a0;
}

.btn__search:active {
  background-color: #15555f;
}