.footer {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  /* width: 100%; */
  background-color: #eff3f6;
  padding: 15px;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer__media {
  display: flex;
  gap: 20px;
}

.footer__media-link img {
  width: 30px;
}
